{{!-- comment list --}}
<div id="comment-list" class="is-flex is-flex-direction-column">
        {{!-- container for each comment --}}
        {{#each this}}
        <article class="media">
            <figure class="media-left">
                <p class="image is-48x48">
                    {{!-- container for user profile image --}}
                    <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p class="has-text-grey-lighter">
                        <strong class="has-text-info">{{user.username}}</strong>
                        <small>{{format_date created_at}}</small>
                        <br>
                        {{comment_text}}
                        <br>
                    </p>
                </div>
            </div>
        </article>
        {{/each}}
</div>