<section class="mt-6" id="{{format_id section-title}}-section">
    <h3 class="title has-text-centered is-size-4 {{format_id section-title}}">{{section-title}}</h3>
    <div class="content-row pb-6 pl-4">
        <div class="container">
            <div class="columns mt-5 is-8 is-variable card-container" id="{{format_id section-title}}-container">
                {{#each content as |content-info|}}
                content-info
                {{> content-card content-info}}
                {{/each}}
            </div>
        </div>
    </div>
</section>