{{!-- card container for watchlist --}}
<div class="content-card" data-watchlist-id="{{id}}">
    <div class="card">
        <div class="card-image has-text-centered card-info">
            <img class="card-poster" src="{{poster_path}}">
        </div>
        <div class="card-content card-info">
            <p class="content-title has-text-weight-semibold">{{content_title}}</p>
            <p class="title is-size-6 content-date has-text-grey">{{release_year}}</p>
        </div>
        {{#if isCurrentUser}}
        <footer class="card-footer">
            <div class="card-footer-item">
                <div class="dropdown is-up card-dropdown-btn">
                    <div class="dropdown-trigger">
                        <button class="button is-white is-fullwidth card-dropdown-btn" aria-haspopup="true"
                            aria-controls="dropdown-menu">
                            Change Status
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            <div class="dropdown-item">
                                <button class="button is-white is-fullwidth watch-dropdown-btn"
                                    data-watch-status="0">
                                    Plan to Watch</button>
                            </div>
                            <div class="dropdown-item">
                                <button class="button is-white is-fullwidth watch-dropdown-btn"
                                    data-watch-status="1">Watching</button>
                            </div>
                            <div class="dropdown-item">
                                <button class="button is-white is-fullwidth watch-dropdown-btn"
                                    data-watch-status="2">Completed</button>
                            </div>
                            <hr class="dropdown-divider">
                            <div class="dropdown-item">
                                <button
                                    class="remove-button button is-danger is-inverted is-fullwidth watch-dropdown-btn">
                                    Remove
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        {{/if}}
    </div>
</div>