{{!-- card container for watchlist --}}
<div class="content-card">
    <div class="card">
        <div class="card-image has-text-centered card-info">
            <img class="card-poster" src="{{poster_path}}">
        </div>
        <div class="card-content card-info">
            <p class="content-title has-text-weight-semibold">{{content_title}}</p>
            <p class="title is-size-6 content-date has-text-grey">{{release}}</p>
        </div>
        <footer class="card-footer">
            <div class="card-footer-item">
                <button class="button is-danger is-inverted is-fullwidth">Remove</button>
            </div>
        </footer>
    </div>
</div>