<!-- HTML for main.handlebars.js -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"> 
    <link rel="stylesheet" href="../../public/stylesheets/style.css">
    <title>Watch It Later</title>
</head>
<body class="is-flex is-flex-direction-column">
    <header>
        <nav class="navbar is-fixed-top is-black" role="navigation" aria-label="main navigation">
            <div class="navbar-brand px-3">
                <h1 class="navbar-item has-text-weight-bold is-size-4" id="nav-logo">
                    Watch It Later
                </h1>
                <!-- Need to include JS to add 'is-active' class to "".navbar-menu" and ".navbar-burger" on button click -->
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link has-text-weight-semibold">
                            Popular
                        </a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item has-text-centered has-text-weight-semibold" id="nav-pop-mov" href="#popular-movies">
                                Popular Movies
                            </a>
                            <a class="navbar-item has-text-centered has-text-weight-semibold" id="nav-pop-tv" href="#popular-tv">
                                Popular TV Shows
                            </a>
                        </div>
                    </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link has-text-weight-semibold">
                            Top Rated
                        </a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item has-text-centered has-text-weight-semibold" id="nav-watchlist" href="#top-movies">
                                Top Rated Movies
                            </a>
                            <a class="navbar-item has-text-centered has-text-weight-semibold" id="nav-watchlist" href="#top-tv">
                                Top Rated TV Shows
                            </a>
                        </div>
                    </div>
                </div>
                <div class="navbar-end">
                    <a class="navbar-item has-text-centered has-text-weight-semibold" id="nav-pop-mov" href="/watchlist">
                        Watchlist
                    </a>
                    <div class="navbar-item">
                        <div class="buttons">
                            <!-- If Logged In -->
                            <button class="button is-danger has-text-weight-semibold" id="nav-logout">
                                Logout
                            </button>
                            <!-- Else -->
                            <a class="button is-primary has-text-weight-semibold" id="nav-signup" href="/signup">
                                Sign up
                            </a>
                            <a class="button is-info has-text-weight-semibold" id="nav-login" href="/login">
                                Login
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    
    <main class="is-flex is-flex-direction-column">

        <!-- {{{ body }}} -->

        <!-- login form -->
        <form id="login-form" class="box container is-fluid py-3 is-hidden">
            <h2 class="has-text-centered has-text-weight-bold is-size-4 my-4">
                Login
            </h2>
            <div class="field">
                <label for="username-login" class="label">Username</label>
                <div class="control">
                    <input id="username-login" type="text" class="input is-rounded"/>
                </div>
            </div>
            <div class="field">
                <label for="password-login" class="label">Password</label>
                <div class="control">
                    <input id="password-login" type="password" class="input is-rounded"/>
                </div>
            </div>
            <button type="submit" class="mt-5 button is-info is-rounded is-fullwidth">
                Login
            </button>
            <div class="mt-5">
                Don't have an account?
                <a href="/signup" id="signup-link">Sign Up here</a>
            </div>
        </form>

        <!-- signup form -->
        <form id="signup-form" class="box container is-fluid py-3">
            <h2 class="has-text-centered has-text-weight-bold is-size-4 my-4">
                Sign Up
            </h2>
            <div class="field">
                <label for="username-signup" class="label">Username</label>
                <div class="control">
                    <input id="username-signup" type="text" class="input is-rounded"/>
                </div>
            </div>
            <div class="field">
                <label for="password-signup" class="label">Password</label>
                <div class="control">
                    <input id="password-signup" type="password" class="input is-rounded"/>
                </div>
                <p class="help">Password must be at least 4 characters</p>
            </div>
            <button type="submit" class="mt-5 button is-info is-rounded is-fullwidth">
                Sign Up
            </button>
            <div class="mt-5">
                Already have an account?
                <a href="/login" id="login-link">Login here</a>
            </div>
        </form>
        
    </main>

    <footer class="footer">
        <div class="has-text-centered has-text-weight-semibold">
            <p>Made by Kyle Tang, Stephon Treadwell, Chris Nohilly, Braulio Loaiza, and Ian Zyvith</p>
            <p class="pt-3">&copy; 2022 Watch It Later, Inc.</p>
        </div>
    </footer>
</body>
</html>