<!-- HTML for main.handlebars.js -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image" href="/images/watch-it-later-icon.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Watch It Later</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body class="is-flex is-flex-direction-column has-background-dark">
  <header>
    <!-- navigation -->
    <nav class="navbar is-fixed-top is-black" role="navigation" aria-label="main navigation">
      <div class="navbar-brand px-3">
        <a class="navbar-item" href="/">
          <img class="cm-brand-nav pr-2" src="/images/watch-it-later-logo.svg" alt="Logo for Watch It Later">
          <h1 class="has-text-weight-bold is-size-4 is-size-5-touch" id="nav-logo">
            Watch It Later
          </h1>
        </a>
        <button id="searchIcon" class="navbar-item is-medium p-0">
          <span class="icon has-text-info is-medium">
            <i class="fa-solid fa-magnifying-glass fa-lg"></i>
          </span>
        </button>
        <a role="button" class="navbar-burger m-0" aria-label="menu" aria-expanded="false"
          data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <!-- search field -->
      <form class="navbar-item navbar-search field has-addons mb-0 search-hide search-form">
        <div class="control">
          <span id="menu-search-filter" class="select is-rounded">
            <select class="search-filter-dropdown">
              <option value="movie">Movies</option>
              <option value="tv">TV Shows</option>
            </select>
          </span>
        </div>
        <div class="control is-expanded">
          <input class="input" type="text" placeholder="Search for a Movie or TV show" id="search-input" />
        </div>
        <div class="control">
          <button class="button is-info is-rounded" type="submit" id="search">
            <span class="icon">
              <i class="fa-solid fa-magnifying-glass fa-lg"></i>
            </span>
          </button>
        </div>
      </form>

      <!-- navbar menu -->
      <div class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Movies
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item has-text-centered" id="nav-pop-mov" href="/#popular-movies-section">
                Popular
              </a>
              <a class="navbar-item has-text-centered" id="nav-pop-tv" href="/#top-movies-section">
                Top Rated
              </a>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              TV Shows
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item has-text-centered" id="nav-watchlist" href="/#popular-tv-section">
                Popular
              </a>
              <a class="navbar-item has-text-centered" id="nav-watchlist" href="/#top-tv-section">
                Top Rated
              </a>
            </div>
          </div>
        </div>
        <div class="navbar-end">
          <a class="navbar-item has-text-centered" id="nav-pop-mov" href="/watchlist">
            Watchlist
          </a>
          <div class="navbar-item">
            <div class="buttons">
              {{#if loggedIn}}
              <a class="button is-info is-outlined" id="nav-dashboard" href="/dashboard">
                <span class="icon is-small">
                  <i class="fa-solid fa-bars"></i>
                </span>
                <span>Dashboard</span>
              </a>
              <button class="button is-danger is-outlined" id="nav-logout">
                <span class="icon is-small">
                  <i class="fa-solid fa-arrow-right-from-bracket"></i>
                </span>
                <span>Logout</span>
              </button>
              {{else}}
              <a class="button is-info is-outlined" id="nav-login" href="/login">
                <span class="icon is-small">
                  <i class="fa-solid fa-arrow-right-to-bracket"></i>
                </span>
                <span>Login</span>
              </a>
              <a class="button is-primary is-outlined" id="nav-signup" href="/signup">
                <span class="icon is-small">
                  <i class="fa-solid fa-pen-to-square"></i>
                </span>
                <span>Sign up</span>
              </a>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <!-- main -->
  <main>
    <div class="container mt-1 alert-box is-fluid is-hidden">
      <div class="notification has-text-centered">
        <button class="delete" id="dismiss-notification-btn"></button>
        <span class="alert-text">Test alert for the user.</span>
      </div>
    </div>
    <div class="is-flex is-flex-direction-column">
      {{{ body }}}
    </div>

  </main>

  <!-- footer -->
  <footer class="footer pb-5">
    <div class="columns px-5">
        <div class="column">
          <h3 class="has-text-weight-semibold is-size-5 pb-3">About Us</h3>
          <div class="columns">
            <div class="column is-one-fifth">
              <img class="cm-brand-footer" src="/images/watch-it-later-logo.svg" alt="Logo for Watch It Later">
            </div>
            <div class="column">
              <p>Made by Kyle Tang, Stephon Treadwell, Chris Nohilly, Braulio Loaiza, and Ian Zyvith</p>
            </div>
          </div>
        </div>
        <div class="column">
          <h3 class="has-text-weight-semibold is-size-5 pb-3">Contact Us</h3>
          <p class="pb-3">
            <i class="fa-solid fa-phone"></i>
            555-555-5555
          </p>
          <a href="malito:watchitlater@gmail.com" class="has-text-white">
            <i class="fa-solid fa-envelope"></i>
            watchitlater@gmail.com
          </a>
        </div>
        <div class="column">
          <h3 class="has-text-weight-semibold is-size-5 pb-3">Follow Us</h3>
          <div class="buttons are-medium">
            <button class="button is-white is-inverted">
              <span class="icon">
                <a href="https://github.com/cnohilly/watch-it-later" class="has-text-white">
                  <i class="fa-brands fa-github fa-2x"></i>
                </a>
              </span>
            </button>
            <button class="button is-white is-inverted">
              <span class="icon">
                <a href="https://www.facebook.com/" class="has-text-white">
                  <i class="fa-brands fa-facebook fa-2x"></i>
                </a>
              </span>
            </button>
            <button class="button is-white is-inverted">
              <span class="icon">
                <a href="https://twitter.com/" class="has-text-white">
                  <i class="fa-brands fa-twitter fa-2x"></i>
                </a>
              </span>
            </button>
            <button class="button is-white is-inverted">
              <span class="icon">
                <a href="https://www.snapchat.com/" class="has-text-white">
                  <i class="fa-brands fa-snapchat fa-2x"></i>
                </a>
              </span>
            </button>
            <button class="button is-white is-inverted">
              <span class="icon">
                <a href="https://www.instagram.com/" class="has-text-white">
                  <i class="fa-brands fa-instagram fa-2x"></i>
                </a>
              </span>
            </button>
          </div>
        </div>
        <div class="column">
          <h3 class="has-text-weight-semibold is-size-5 pb-3">Special Thanks To</h3>
          <a href="https://www.themoviedb.org/">
            <img class="cm-logo-size" src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_long_1-8ba2ac31f354005783fab473602c34c3f4fd207150182061e425d366e4f34596.svg" alt="Logo for TMDb">
          </a>
          <p>This product uses the TMDB API but is not endorsed or certified by TMDB</p>
        </div>
    </div>
    <div class="has-text-centered has-text-weight-semibold">
      <p class="pt-5">&copy; 2022 Watch It Later, Inc.</p>
    </div>
  </footer>

  <!-- script -->
  <script src="/javascript/menu.js"></script>
  <script src="/javascript/search.js"></script>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
  <script src="/javascript/alert-box.js"></script>
</body>
</html>