<div class="cm-bg-height custom-bg-color">
    <div class="card py-1 custom-bg-color has-text-white">
        <div class="card-content">
            <h2 class="title has-text-white">404 Page Not Found</h2>
            <div class="content">
                {{#if message}}
                {{message}}
                {{else}}
                This page does not exist.
                {{/if}}
            </div>
        </div>
    </div>
</div>