<!--Hero Section-->
<section class="hero is-medium">
    <div class="hero-body">
        <h2 class="title has-text-light is-size-1 is-size-2-touch animate__animated animate__slideInLeft">
            Welcome!
        </h2>
        <p
            class="subtitle has-text-light has-text-weight-semibold is-size-3 is-size-5-touch mt-3 animate__animated animate__fadeIn animate__delay-1s">
            Tons of Movies and TV shows to build your watchlist! Enjoy!
        </p>
    </div>
</section>
<!--End of Hero Section-->
{{!-- Content Sections --}}

<!--Search Results Cards-->
    <section class="is-hidden mt-6" id="search-section">
        <h3 class="title has-text-centered is-size-4 search-results">Search Results</h3>
        <div class="content-row pb-6 pl-4">
            <div class="container">
                <div class="columns mt-5 is-8 is-variable card-container" id="search-results-container">
                </div>
            </div>
        </div>
    </section>
    <!--End of Search Results Cards-->


<section class="mt-6" id="popular-movies-section">
    <h3 class="title has-text-centered is-size-4 pop-movies">Popular Movies</h3>
    <div class="content-row pb-6 pl-4">
        <div class="container mx-0">
            <div class="columns mt-5 is-8 is-variable card-container" id="popular-movies-container">
                {{#each popMovies as |content-info|}}
                {{> content-card content-info}}
                {{/each}}
            </div>
        </div>
    </div>
</section>
<section class="mt-6" id="top-movies-section">
    <h3 class="title has-text-centered is-size-4 top-movies">Top Rated Movies</h3>
    <div class="content-row pb-6 pl-4">
        <div class="container mx-0">
            <div class="columns mt-5 is-8 is-variable card-container" id="top-movies-container">
                {{#each topMovies as |content-info|}}
                {{> content-card content-info}}
                {{/each}}
            </div>
        </div>
    </div>
</section>
<section class="mt-6" id="popular-tv-section">
    <h3 class="title has-text-centered is-size-4 pop-tv">Popular TV</h3>
    <div class="content-row pb-6 pl-4">
        <div class="container mx-0">
            <div class="columns mt-5 is-8 is-variable card-container" id="popular-tv-container">
                {{#each popTV as |content-info|}}
                {{> content-card content-info}}
                {{/each}}
            </div>
        </div>
    </div>
</section>
<section class="mt-6" id="top-tv-section">
    <h3 class="title has-text-centered is-size-4 top-tv">Top Rated TV</h3>
    <div class="content-row pb-6 pl-4">
        <div class="container mx-0">
            <div class="columns mt-5 is-8 is-variable card-container" id="top-tv-container">
                {{#each topTV as |content-info|}}
                {{> content-card content-info}}
                {{/each}}
            </div>
        </div>
    </div>
</section>
{{!-- End of Content Sections --}}