<!--Hero Section-->
<section class="hero is-medium">
    <div class="hero-body">
        <h2 class="title has-text-light is-size-1 is-size-2-touch animate__animated animate__slideInLeft">
            Welcome!
        </h2>
        <p class="subtitle has-text-light has-text-weight-semibold is-size-3 is-size-5-touch mt-3 animate__animated animate__fadeIn animate__delay-1s">
            Tons of Movies and TV shows to build your watchlist! Enjoy!
        </p>
    </div>
</section>
<!--End of Hero Section-->