<!--Hero Section-->
<section class="hero is-medium">
    <div class="hero-body">
        <h2 class="title has-text-light is-size-1 is-size-2-touch animate__animated animate__slideInLeft">
            Welcome!
        </h2>
        <p
            class="subtitle has-text-light has-text-weight-semibold is-size-3 is-size-5-touch mt-3 animate__animated animate__fadeIn animate__delay-1s">
            Tons of Movies and TV shows to build your watchlist! Enjoy!
        </p>
    </div>
</section>
<!--End of Hero Section-->

{{!-- Content Sections --}}
<section id="home-content-sections" class="cm-section-padding custom-bg-color has-text-white">
    <section id="popular-movies-section" class="section custom-section py-4">
        <h3 class="pop-movies is-size-3 is-size-4-touch mb-3 has-text-weight-bold">Popular Movies</h3>
        <div id="popular-movies-container" class="list-container list-hompage">
            {{#each popMovies as |content-info|}}
            {{> content-card content-info}}
            {{/each}}
        </div>
    </section>

    <section id="top-movies-section" class="section custom-section py-4">
        <h3 class="top-movies is-size-3 is-size-4-touch mb-3 has-text-weight-bold">Top Rated Movies</h3>
        <div id="top-movies-container" class="list-container list-hompage">
            {{#each topMovies as |content-info|}}
            {{> content-card content-info}}
            {{/each}}
        </div>
    </section>

    <section id="popular-tv-section" class="section custom-section py-4">
        <h3 class="pop-tv is-size-3 is-size-4-touch mb-3 has-text-weight-bold">Popular TV Shows</h3>
        <div id="popular-tv-container" class="list-container list-hompage">
            {{#each popTV as |content-info|}}
            {{> content-card content-info}}
            {{/each}}
        </div>
    </section>

    <section id="top-tv-section" class="section custom-section py-4">
        <h3 class="top-tv is-size-3 is-size-4-touch mb-3 has-text-weight-bold">Top Rated TV Shows</h3>
        <div id="top-tv-container" class="list-container list-hompage">
            {{#each topTV as |content-info|}}
            {{> content-card content-info}}
            {{/each}}
        </div>
    </section>
</section>
{{!-- End of Content Sections --}}