<!-- login form -->
<form id="login-form" class="box container is-fluid py-1">
    <h2 class="has-text-centered has-text-weight-bold is-size-4 my-4">
        Login
    </h2>
    <div class="field">
        <label for="username-login" class="label">Username</label>
        <div class="control">
            <input id="username-login" type="text" class="input is-rounded"/>
        </div>
    </div>
    <div class="field">
        <label for="password-login" class="label">Password</label>
        <div class="control">
            <input id="password-login" type="password" class="input is-rounded"/>
        </div>
    </div>
    <button type="submit" class="mt-5 button is-info is-rounded is-fullwidth">
        Login
    </button>
    <div class="mt-5 mb-4 has-text-centered">
        Don't have an account?
        <a href="/signup" id="signup-link">Sign Up</a>
    </div>
</form>

<script src="/javascript/login.js"></script>