* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.navbar-menu .navbar-item:hover {
    color: gray!important;
    transition: color .2s ease-in-out;
}

.navbar-dropdown a {
    font-size: 16px;
}

main {
    flex: 1;
    padding: 8rem 0;
}

.footer {
    background-color: black;
    color: white;
}

#login-form, #signup-form {
    max-width: 30%!important;
}

@media screen and (max-width: 1023px) {
    .navbar-item .buttons {
        display: flex;
        flex-direction: column;
    }

    .navbar-item .buttons .button {
        display: flex;
        width: 100%;
        margin-right: 0!important;
    }

    #login-form, #signup-form {
        max-width: 55%!important;
    }
}

@media screen and (max-width: 769px) {
    #login-form, #signup-form {
        max-width: 80%!important;
    }
}