:root {
    --primary-color: #0A7AEA;
    --secondary-color: #66B9D0;
    --tertiary-color: #68626F;
    --shade-color: #221D28;
}

* {
    box-sizing: border-box;
}

/* main.handlebars START */
body {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background: url(../images/blue-bg.jpg) no-repeat fixed center;
    background-size: cover;
}

.navbar-dropdown a {
    font-size: 16px;
}

.navbar-search {
    flex-grow: 1;
}

#searchIcon {
    background: 0 0;
    border: none;
    font-size: 1em;
    justify-content: center;
    cursor: pointer;
    width: 3.25rem;
    margin-left: auto;
    display: none;
}

main {
    flex: 1;
    padding-top: 56px;
}

.footer {
    background-color: black;
    color: white;
}
/* main.handlebars END */

/* login and signup forms START */
#login-form, #signup-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 4rem;
    margin-bottom: 2rem;
    max-width: 400px !important;
}

#login-form {
    max-height: 450px;
}

#signup-form {
    max-height: 550px;
}

#signup-form .icon-text span {
    font-size: 14px;
}
/* login and signup forms END */

/* content-page START*/
.hero-body h2, .hero-body p, .content-section {
    text-shadow: 3px 1px 7px black;
}

.custom-bg-color {
    background-color: var(--shade-color);
}

.content-hero {
    background-position: 50% 20% !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: relative;
}

.overlay {
    background-image: linear-gradient(to bottom, rgb(34, 29, 40, 50%), var(--shade-color ));
}

.content-section {
    z-index: 2;
    padding: 0 10rem;
}

.poster {
    width: 300px;
    height: 450px;
    box-shadow: 0px 0px 2.5rem rgb(0, 0, 0);
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
}

.img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#content-info {
    line-height: 2em;
    flex: 1;
    margin: 0 3rem;
    transition: all ease-in-out 0.3s;
}
/* content-page END*/

/* MEDIA QUERIES */
@media screen and (max-width: 1200px) {
    #searchIcon {
        display: flex;
    }

    .search-hide {
        display: none !important;
    }
}

@media screen and (max-width: 1023px) {
    main {
        padding-top: 52px;
    }

    .navbar-item .buttons {
        display: flex;
        flex-direction: column;
    }

    .navbar-item .buttons .button {
        display: flex;
        width: 100%;
        margin-right: 0 !important;
    }

    #login-form, #signup-form {
        max-width: 55% !important;
    }

    .content-section {
        padding: 1rem 5rem 0 5rem;
    }

    .poster {
        width: 250px;
        height: 375px;
    }
}

@media screen and (max-width: 769px) {
    #login-form, #signup-form {
        max-width: 80% !important;
        padding: 1.25rem;
    }

    .hero.is-medium .hero-body {
        padding: 9rem 4.5rem;
    }

    .content-section {
        padding: 0rem;
        flex-direction: column;
    }

    .poster {
        display: flex;
        margin: -16rem auto 0 auto;
    }

    .content-buttons {
        margin: 1rem auto 0 auto;
    }

    .add-btn {
        padding-left: 2.5em;
        padding-right: 2.5em;
    }

    .content-buttons .control.is-expanded {
        flex-grow: 0 !important;
    }

    .field.is-grouped>.control:not(:last-child) {
        margin-right: 1rem;
    }

    #content-info {
        margin: 1rem;
    }

    .content p:not(:last-child) {
        margin-bottom: 0.5em;
    }

    .content h2 {
        font-size: 1.5em;
    }
}